@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;600&display=swap');

body {
    font-family: 'Saira Condensed';
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;

    color: rgb(102, 208, 250);
    font-size: 16px;

    padding: 30px;
    margin-top: 50px;

    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.12);
    z-index: 1;
}

.card::before, .card::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    transition: 0.5s ease-in-out;
}

.card::before {
    top: -5px;
    left: -5px;
    border-top: 2px solid rgb(102, 208, 250);
    border-left: 2px solid rgb(102, 208, 250);
    border-radius: 5px;
}

.card::after {
    right: -5px;
    bottom: -5px;
    border-bottom: 2px solid rgb(102, 208, 250);
    border-right: 2px solid rgb(102, 208, 250);
    border-radius: 5px;
}

.card:hover::before, .card:hover::after {
    width: calc(100% + 8px);
    height: calc(100% + 8px);
}

.field {
    color: rgb(102, 208, 250);
    font-family: 'Saira Condensed';
    font-size: 18px;

    background-color: rgb(35, 36, 40);
    height: 30px;

    border: none;
    border-radius: 3px;

    margin-bottom: 30px;
    border-bottom: 1px solid rgb(102, 208, 250);
    z-index: 1;
}

.field:focus {
    outline: none;
}

.btn {
    color: black;
    font-family: 'Saira Condensed';
    font-size: 18px;
    font-weight: 600;

    background-color: rgb(102, 208, 250);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.12);

    border: 1px solid transparent;
    border-radius: 4px;

    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0);
}